:root {
  --primary: #00b98e;
  --secondary: #effdf5;
  --light: #effdf5;
  --dark: #0e2e50;
}

/*Fonte: Heebo*/

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Heebo", sans-serif;
  text-decoration: none;
}

body {
  height: 5000px;
}

/* HEADER */

.logo {
  display: flex;
  align-items: center;
}

.logo h1 {
  font-size: 2.5rem;
  color: var(--primary);
  margin-left: 5px;
}

.logo img {
  border: 2px dashed var(--primary);
  padding: 10px;
  border-radius: 50%;
}

header {
  -webkit-box-shadow: 0px 41px 157px -11px rgba(163, 163, 163, 1);
  -moz-box-shadow: 0px 41px 157px -11px rgba(163, 163, 163, 1);
  box-shadow: 0px 41px 157px -11px rgba(163, 163, 163, 1);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 10vh;
}

.menu {
  display: flex;
  gap: 50px;
}

.menu a {
  text-transform: uppercase;
  font-size: 1.2rem;
  color: #000;
  margin-right: 30px;
}

.menu a:nth-child(1) {
  color: var(--primary);
}

/* MAIN */
main {
  display: flex;
  width: 100%;
  height: 90vh;
}

main div {
  width: 50%;
}

.main-p2 img {
  width: 100%;
  object-fit: cover;
}

.main-conteudo {
  padding: 50px;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.main-conteudo h1,
.main-conteudo span {
  font-size: 4rem;
  color: var(--dark);
}
.main-conteudo span {
  color: var(--primary);
}

.main-conteudo p,
.main-conteudo div {
  margin-top: 80px;
  color: #272727;
}

.main-conteudo div a {
  padding: 25px 55px;
  color: var(--light);
  background-color: var(--primary);
  border-radius: 5px;
}

@media (max-width: 1200px) {
  main {
    flex-direction: column;
    height: auto;
  }
  .main-p1,
  .main-p2 {
    width: auto;
  }
  .main-p2 img {
    max-width: 100%;
    height: 500px;
    object-fit: cover;
  }

  .main-conteudo h1,
  .main-conteudo span {
    font-size: 3.5rem;
  }
  .main-conteudo p,
  .main-conteudo div {
    margin-top: 50px;
  }
}

@media (max-width: 650px) {
  header {
    justify-content: center;
    gap: 20px;
    height: 20vh;
  }
  .main-conteudo h1,
  .main-conteudo span {
    font-size: 3rem;
  }
  .main-conteudo p,
  .main-conteudo div {
    margin-top: 40px;
  }
}

/* SECTION 1 */
.sec-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  text-align: center;
  padding: 30px;
}

.sec-1 h1 {
  font-size: 3rem;
  color: var(--dark);
}

.sec-1 p {
  max-width: 800px;
}

.property-types {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.type {
  width: 300px;
  height: 300px;
  border: 2px solid var(--primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  border-radius: 5px;
}

.type-img img {
  width: 80px;
}
